{
	"extends": "eslint:recommended",
	"rules": {
    "no-console": 0 
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env":{
  	"jquery":true,
  	"commonjs":true,
  	"browser":true
  }
}